To perform data analysis, I have mentioned 21 questions that we are going to solve one by one. Questions are as follows.
1.  Display Top 10 Rows of The Dataset
2. Check Last 10 Rows of The Dataset
3. Find Shape of Our Dataset (Number of Rows And Number of Columns)
4.  Getting Information About Our Dataset Like Total Number Rows, Total Number of Columns, Datatypes of Each Column And Memory Requirement
5. Check Null Values In The Dataset
6. Drop ID, Notes, Agency, and Status Columns
7. Get Overall Statistics About The Dataframe
8. Find Occurrence of The Employee Names  (Top 5)
9. Find The Number of Unique Job Titles
10. Total Number of Job Titles Contain Captain
11. Display All the Employee Names From Fire Department
12. Find Minimum, Maximum, and Average BasePay
13. Replace 'Not Provided' in EmployeeName' Column to NaN 
14. Drop The Rows Having 5 Missing Values
15. Find Job Title of ALBERT PARDINI
16. How Much ALBERT PARDINI Make (Include Benefits)?
17. Display Name of The Person Having The Highest BasePay
18. Find Average BasePay of All Employee Per Year 
19. Find Average BasePay of All Employee Per JobTitle 
20. Find Average BasePay of Employee Having Job Title ACCOUNTANT  
21. Find Top 5 Most Common Jobs

In [148]:
import pandas as pd

In [ ]:
df=pd.read_csv("Salaries_pj2.csv")

In [ ]:
df.columns

In [ ]:
#1.  Display Top 10 Rows of The Dataset
df.head(10)

In [ ]:
#2. Check Last 10 Rows of The Dataset
df.tail(10)

In [ ]:
#3. Find Shape of Our Dataset (Number of Rows And Number of Columns)
df.shape
print("no. of rows: ", df.shape[0])
print("no. of columns: ", df.shape[1])

In [ ]:
#4.  Getting Information About Our Dataset Like Total Number Rows, Total Number of Columns, Datatypes of Each Column And Memory Requirement
df.info()

In [ ]:
#5. Check Null Values In The Dataset
df.isnull().sum()

In [ ]:
#6. Drop ID, Notes, Agency, and Status Columns
df.drop(['Id', 'Notes', 'Agency', 'Status'], axis=1, inplace=True)
df

In [ ]:
#7. Get Overall Statistics About The Dataframe
df.describe

In [ ]:
#8. find occurence of the employ name top 5
df["EmployeeName"].value_counts().head()

In [ ]:
#9. find the no of unique job titles
df["JobTitle"].nunique()

In [ ]:
#10. total no of job title that contain captain
len(df[df["JobTitle"].str.contains("CAPTAIN", case=False)])

In [ ]:
#11. display all the employee name from the fire department
df[df["JobTitle"].str.contains("FIRE DEPARTMENT", case=False)]["EmployeeName"]

In [ ]:
#12. find minimum, maximum and average base pay
df["BasePay"]=df["BasePay"].replace("Not Provided",0.0)
df["BasePay"]=df["BasePay"].astype("float")
df["BasePay"].describe()

In [163]:
import numpy as np

In [ ]:
#13. replace not provided in employee name column to NaN
df["EmployeeName"]=df["EmployeeName"].replace("Not provided", np.NaN)
df["EmployeeName"]

In [184]:
#14. drop the rows having more than 5 missing values
df=df.replace("Not Provided",np.nan)
df=df.replace("Not provided",np.nan)
df[df.isnull().sum(axis=1)>=5]

,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year
148646,NaN,NaN,0.0,NaN,NaN,NaN,0.0,0.0,2014
148650,NaN,NaN,0.0,NaN,NaN,NaN,0.0,0.0,2014
148651,NaN,NaN,0.0,NaN,NaN,NaN,0.0,0.0,2014
148652,NaN,NaN,0.0,NaN,NaN,NaN,0.0,0.0,2014

In [186]:
df=df.drop(df[df.isnull().sum(axis=1)>=5].index, axis=0)

In [189]:
#15. find job title of Albert Pardini
df[df["EmployeeName"]=="ALBERT PARDINI"] ["JobTitle"]

2    CAPTAIN III (POLICE DEPARTMENT)
Name: JobTitle, dtype: object

In [192]:
#16. how much Albert Pardini make including benefits
df.columns
df[df["EmployeeName"]=="ALBERT PARDINI"]["TotalPayBenefits"]

2    335279.91
Name: TotalPayBenefits, dtype: float64

In [199]:
#17. display name of the person having highest basepay
df[df["BasePay"]==df["BasePay"].max()]["EmployeeName"]

72925    Gregory P Suhr
Name: EmployeeName, dtype: object

In [206]:
#18. find average base pay of all employee all per year
df.groupby(by="Year")["BasePay"].mean()

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

In [200]:
#19. find average base pay of all employee per job title
df.groupby(by="JobTitle")["BasePay"].mean()

JobTitle
ACCOUNT CLERK                                     43300.806506
ACCOUNTANT                                        46643.172000
ACCOUNTANT INTERN                                 28732.663958
ACPO,JuvP, Juv Prob (SFERS)                       62290.780000
ACUPUNCTURIST                                     66374.400000
                                                      ...
X-RAY LABORATORY AIDE                             47664.773077
X-Ray Laboratory Aide                             46086.387100
YOUTH COMMISSION ADVISOR, BOARD OF SUPERVISORS    52609.910000
Youth Comm Advisor                                39077.957500
ZOO CURATOR                                       43148.000000
Name: BasePay, Length: 2158, dtype: float64

In [202]:
#20. find average basepay of employee having job title as accountant
df[df["JobTitle"]=="ACCOUNTANT"]["BasePay"].mean()

46643.172

In [208]:
#21. find top 5 most common jobs
df["JobTitle"].value_counts().head()

JobTitle
Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: count, dtype: int64