In [162]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

Questions :

1. Display Top 10 Rows of The Dataset
2. Check Last 10 Rows of The Dataset
3. Find Shape of Our Dataset (Number of Rows And Number of Columns)
4. Getting Information About Our Dataset Like Total Number Rows, Total Number of Columns, Datatypes of Each Column And Memory Requirement
5. Fetch Random Sample From the Dataset (50%)
6. Check Null Values In The Dataset
7. Perform Data Cleaning [ Replace '?' with NaN ]

8. Drop all The Missing Values
9. Check For Duplicate Data and Drop Them
10. Get Overall Statistics About The Dataframe
11. Drop The Columns education-num, capital-gain, and capital-loss
12. What Is The Distribution of Age Column?
13. Find Total Number of Persons Having Age Between 17 To 48 (Inclusive) Using Between Method
14. What is The Distribution of Workclass Column?
15. How Many Persons Having Bachelors and Masters Degree?
16. Bivariate Analsis
17. Replace Salary Values With 0 and 1
18. Which Workclass Getting The Highest Salary?
19. How Has Better Chance To Get Salary greater than 50K Male or Female?
20. Covert workclass Columns Datatype To Category Datatype

In [218]:
df=pd.read_csv("adult_pj3.csv")

In [ ]:
#1. display top 10 rows and the dataset
df.head(10)

In [ ]:
#2. check last 10 rows of the dataset
df.tail(10)

In [ ]:
#3. find shape of the dataset
df.shape

In [ ]:
print("no of rows: ", df.shape[0])
print("no of columns: ", df.shape[1])

In [ ]:
#4. Getting Information About Our Dataset Like Total Number Rows, Total Number of Columns, Datatypes of Each Column And Memory Requirement
df.info()

In [ ]:
#5. Fetch Random Sample From the Dataset (50%)
df.sample(frac=0.50)

In [ ]:
#6. Check Null Values In The Dataset
df.isnull().sum(axis=0)

In [ ]:
plt.plot(df.columns, df.isnull().sum())
plt.xticks(rotation=90)
plt.show()

In [ ]:
#7. Perform Data Cleaning [ Replace '?' with NaN ]
df.isin(["?"]).sum()
df.replace("?", np.nan, inplace=True)
df.isin(["?"]).sum()

In [ ]:
df.isnull().sum()

In [ ]:
plt.plot(df.columns,df.isnull().sum())
plt.xticks(rotation=90)
plt.show()

In [ ]:
#8. Drop all The Missing Values
miss_per= df.isnull().sum()*100/len(df)
print("percentage of missing value: ",miss_per)

In [ ]:
df.dropna(how='any', inplace=True)
miss_per= df.isnull().sum()*100/len(df)
print("percentage of missing value after dropping:\n",miss_per)
print(df.shape)

In [177]:
#9. Check For Duplicate Data and Drop Them
df.duplicated().sum()
df.drop_duplicates(inplace=True)

In [ ]:
df.duplicated().sum()

In [ ]:
#10 get overall statistics about the dataframe
df.describe(include='all')

In [ ]:
df["education"].unique()

In [ ]:
df["educational-num"].unique()

In [182]:
#11. drop the columns educational-num, capital gain, capital-loss
df.drop(columns=["educational-num","capital-loss","capital-gain"], inplace=True)

In [ ]:
df.shape

Univariate analysis- take a column and do analysis on it

In [ ]:
#12. what is the distribution of age column
df["age"].describe()

In [ ]:
df["age"].hist()

In [ ]:
#13. Find Total Number of Persons Having Age Between 17 To 48 (Inclusive) Using Between Method
df['age'].between(17,48).sum()

In [ ]:
sum((df['age']>=17) & (df['age']<=48))

In [ ]:
#14. whats the distribution of workclass column
df["workclass"].describe()

In [ ]:
plt.figure(figsize=(10,10))
df['workclass'].hist()
plt.xticks(rotation=90)
plt.show()

In [ ]:
#15. how many person have bachelor or master's degree
df.columns
df["education"].unique()
sum((df["education"]=='Bachelors') | (df["education"]=='Masters'))

In [ ]:
df["education"].isin(['Bachelors','Masters']).sum()

Bivariate Analysis- it is used to find relationship between two different variables

In [ ]:
df.columns

In [ ]:
data1=df[df['income']=='<=50K']['age']
x=len(data1.values)
type(x)

In [ ]:
data2=df[df['income']=='>50K']['age']
y=len(data2.values)
type(y)

In [ ]:
c=df['income'].unique()
c

In [ ]:
d=np.array([x,y])
d

In [ ]:
plt.bar(c,d)

In [219]:
#17. replace salary values with 0 and 1
df.replace(to_replace=["<=50K",">50K"],value=[0,1],inplace=True)
df.head(1)

C:\Users\akash\AppData\Local\Temp\ipykernel_868\516214633.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df.replace(to_replace=["<=50K",">50K"],value=[0,1],inplace=True)

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,0

In [ ]:
def salary_encoded(sal):
    if(sal=="<=50K"):
        return 0
    else:
        return 1
df["salary"]=df["income"].apply(salary_encoded)
df.head(1)

In [ ]:
#18. which work class getting the highest pay
total_occupation=len(df.groupby(by="occupation"))
print("total no of distinct occupations: ",total_occupation)

In [227]:
df.groupby(by="workclass")['income'].mean().sort_values(ascending=False).head(1)

workclass
Self-emp-inc    0.553392
Name: income, dtype: float64

In [221]:
df.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'educational-num',
       'marital-status', 'occupation', 'relationship', 'race', 'gender',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       'income'],
      dtype='object')

In [231]:
#19 who has better chance to get salary ">50K" men or female
df.groupby(by='gender')['income'].mean().sort_values(ascending=False).head(1)

gender
Male    0.303767
Name: income, dtype: float64

In [237]:
#20. convert workclass columns datatype to category datatype

df['workclass']=df['workclass'].astype("category")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48842 entries, 0 to 48841
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   age              48842 non-null  int64
 1   workclass        48842 non-null  category
 2   fnlwgt           48842 non-null  int64
 3   education        48842 non-null  object
 4   educational-num  48842 non-null  int64
 5   marital-status   48842 non-null  object
 6   occupation       48842 non-null  object
 7   relationship     48842 non-null  object
 8   race             48842 non-null  object
 9   gender           48842 non-null  object
 10  capital-gain     48842 non-null  int64
 11  capital-loss     48842 non-null  int64
 12  hours-per-week   48842 non-null  int64
 13  native-country   48842 non-null  object
 14  income           48842 non-null  int64
dtypes: category(1), int64(7), object(7)
memory usage: 5.3+ MB