In [26]:
import pandas as pd

In [27]:
df=pd.DataFrame({"A":[1,2,3,4],"B":[11,12,13,14]})

In [28]:
df2=pd.DataFrame({"C":[10,20,30,40],"D":[11,22,33,44]})

In [29]:
df.join(df2)

   A   B   C   D
0  1  11  10  11
1  2  12  20  22
2  3  13  30  33
3  4  14  40  44

In [30]:
df3=pd.DataFrame({"E":[10,20],"F":[11,22]})

In [31]:
df.join(df3)

   A   B     E     F
0  1  11  10.0  11.0
1  2  12  20.0  22.0
2  3  13   NaN   NaN
3  4  14   NaN   NaN

In [32]:
df3.join(df, how="right")

      E     F  A   B
0  10.0  11.0  1  11
1  20.0  22.0  2  12
2   NaN   NaN  3  13
3   NaN   NaN  4  14

In [33]:
df3.join(df, how="left")

    E   F  A   B
0  10  11  1  11
1  20  22  2  12

In [34]:
df3.join(df, how="outer")

      E     F  A   B
0  10.0  11.0  1  11
1  20.0  22.0  2  12
2   NaN   NaN  3  13
3   NaN   NaN  4  14

In [35]:
df3.join(df, how="inner")

    E   F  A   B
0  10  11  1  11
1  20  22  2  12

In [36]:
df3.join(df)

    E   F  A   B
0  10  11  1  11
1  20  22  2  12

In [37]:
df4=pd.DataFrame({"B":[11,12,30,40],"D":[11,22,33,44]})

In [38]:
df.join(df4)

ValueError: columns overlap but no suffix specified: Index(['B'], dtype='object')

In [ ]:
df.join(df4,lsuffix="_1",rsuffix="_2")

   A  B_1  B_2   D
0  1   11   11  11
1  2   12   12  22
2  3   13   30  33
3  4   14   40  44