In [1]:
import pandas as pd

In [29]:
import matplotlib.pyplot as plt

In [12]:
data=pd.read_csv("mob.csv")

In [13]:
df=pd.DataFrame(data)
df

,Brand,Battery capacity (mAh),Screen size (inches),Touchscreen,Resolution x,Resolution y,Processor,RAM (MB),Internal storage (GB),Rear camera,Front camera,Operating system,Wi-Fi,Bluetooth,GPS,Number of SIMs,3G,4G/ LTE,Price
0,OnePlus,4085,6.67,Yes,1440,3120,8,12000,256.000,48.0,16.0,Android,Yes,Yes,Yes,2,Yes,Yes,58998
1,Realme,4000,6.50,Yes,1080,2400,8,6000,64.000,64.0,16.0,Android,Yes,Yes,Yes,2,Yes,Yes,27999
2,Apple,3969,6.50,Yes,1242,2688,6,4000,64.000,12.0,12.0,iOS,Yes,Yes,Yes,2,Yes,Yes,106900
3,Apple,3110,6.10,Yes,828,1792,6,4000,64.000,12.0,12.0,iOS,Yes,Yes,Yes,2,Yes,Yes,62900
4,LG,4000,6.40,Yes,1080,2340,8,6000,128.000,12.0,32.0,Android,Yes,Yes,Yes,1,No,No,49990
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1354,Intex,1500,4.00,Yes,480,800,4,512,8.000,5.0,0.3,Android,Yes,Yes,Yes,2,Yes,No,2599
1355,Videocon,2000,5.00,Yes,480,854,4,1000,8.000,8.0,5.0,Android,Yes,Yes,Yes,2,Yes,No,2940
1356,Intex,1700,4.50,Yes,480,854,2,512,4.000,5.0,2.0,Android,Yes,Yes,No,2,Yes,No,2999
1357,iBall,1250,4.00,Yes,480,800,1,256,0.512,2.0,0.3,Android,Yes,Yes,Yes,2,Yes,No,2498
1358,iBall,2150,5.00,Yes,480,854,4,1000,8.000,8.0,0.0,Android,Yes,Yes,Yes,2,Yes,No,3999

In [14]:
df.head()

,Brand,Battery capacity (mAh),Screen size (inches),Touchscreen,Resolution x,Resolution y,Processor,RAM (MB),Internal storage (GB),Rear camera,Front camera,Operating system,Wi-Fi,Bluetooth,GPS,Number of SIMs,3G,4G/ LTE,Price
0,OnePlus,4085,6.67,Yes,1440,3120,8,12000,256.0,48.0,16.0,Android,Yes,Yes,Yes,2,Yes,Yes,58998
1,Realme,4000,6.50,Yes,1080,2400,8,6000,64.0,64.0,16.0,Android,Yes,Yes,Yes,2,Yes,Yes,27999
2,Apple,3969,6.50,Yes,1242,2688,6,4000,64.0,12.0,12.0,iOS,Yes,Yes,Yes,2,Yes,Yes,106900
3,Apple,3110,6.10,Yes,828,1792,6,4000,64.0,12.0,12.0,iOS,Yes,Yes,Yes,2,Yes,Yes,62900
4,LG,4000,6.40,Yes,1080,2340,8,6000,128.0,12.0,32.0,Android,Yes,Yes,Yes,1,No,No,49990

In [20]:
df.groupby("Brand")['Screen size (inches)'].max()

Brand
10.or      6.18
Acer       5.50
Alcatel    6.20
Apple      6.50
Aqua       5.00
           ...
Zopo       5.50
Zuk        5.50
iBall      6.00
iVoomi     5.86
mPhone     5.50
Name: Screen size (inches), Length: 76, dtype: float64

In [24]:
a=df.groupby("Brand")['Brand'].count()
print(a.head(20))

Brand
10.or           5
Acer            2
Alcatel        10
Apple          17
Aqua            1
Asus           37
Billion         1
Black Shark     1
BlackBerry     17
Blu             2
Cat             4
Celkon          4
Comio           8
Coolpad        19
Gionee         33
Google         10
HP              1
HTC            35
Homtom          3
Honor          33
Name: Brand, dtype: int64

In [27]:
b=df.groupby("Brand")["Processor"].max()
b

Brand
10.or       8
Acer        8
Alcatel     8
Apple       6
Aqua        4
           ..
Zopo       10
Zuk         4
iBall       8
iVoomi      4
mPhone      8
Name: Processor, Length: 76, dtype: int64

In [38]:
c=df.groupby("Operating system")['Operating system'].count()
c

Operating system
Android       1299
BlackBerry      10
Cyanogen        10
Sailfish         1
Tizen            3
Windows         19
iOS             17
Name: Operating system, dtype: int64

In [51]:
df["Brand"].count()

1359

In [53]:
d=df.agg({
    'RAM (MB)':["max", "min"],
    'Resolution x':["max", "min"],
    'Resolution y':["max", "min"]
})
d

     RAM (MB)  Resolution x  Resolution y
max     12000          2160          3840
min        64           240           320